<%- include('../includes/head.ejs') %>
<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <br />

        <% if (products.length > 0){ %>
            
            <div class="row g-5">
                
                <% products.forEach(p=> {%>
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="card position-relative" >
                      <div class="card-body py-0 px-0 d-flex align-items-start">
                          <div class="im px-1">
                            <a href="/product/_list/<%=p._id %>">
                              <img src="<%=p.imageUrl %>" style="width: 100px; height: 130px;" />
                            </a>
                            </div>

                          <div class="pt-3" style="margin-left:0.8em;">
                              <a href="/product/_list/<%=p._id %>" class="" style="text-decoration:none;color: black;">
                                <h5 class="card-title"><%= p.title %> </h5>
                              </a>
                              <p class="card-text"><%= p.description %></p>
                                 
                          </div>
                      </div>

                      <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="productId" class=" d-none" value="<%=p.id%>" />
                        <button class="position-absolute  btn top-0 start-100 translate-middle" style="background:transparent!important;">
                            <svg style="width: 25px; height: 25px;"  version="1.1" id="Circled_cross" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path fill="#000" d="M10,1.6c-4.639,0-8.4,3.761-8.4,8.4s3.761,8.4,8.4,8.4s8.4-3.761,8.4-8.4S14.639,1.6,10,1.6z M14.789,13.061
                                    L13.06,14.79L10,11.729l-3.061,3.06L5.21,13.06L8.272,10L5.211,6.939L6.94,5.211L10,8.271l3.061-3.061l1.729,1.729L11.728,10
                                    L14.789,13.061z"/>
                            </svg>
                        </button>
                    </form>


                      <button class="position-absolute  w-25  btn btn-info text-white" 
                      style="bottom:0px; right:0; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                          <%= p.quantity %> Qty
                      </button>
                    </div>
                </div>
                <%}) %>
            </div>
             <br />
             <br />
             <br />
             <form action="/create-order" method="POST">
                <div class="d-grid gap-2 col-5 mx-auto">
                    <button class="btn btn-dark" type="submit">
                       Order Now!
                    </button>
                </div>
                </form>


        <% }else{ %>
            <h3>No Item added to Cart</h3>
        <%}%>
        </div>
    </main>
</body>
<%- include('../includes/end.ejs') %>
