<%- include('../includes/head.ejs') %>
<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <br />

        <% if (orders.length > 0){ %>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <h2>Orders</h2>
                <ul class="col-12 col-md-6 col-lg-5">
                    <% orders.forEach(order=> {%>
                      <li>
                         <h1># <%= order._id %></h1>
                         <ul>
                             <% order.products.forEach(p => { %>
                                  <li class="w-100 ">
                                      <div class="d-flex align-items-center">
                                          <span><%= p.product.title %> </span>
                                          <span>Qty (<%= p.quantity %>)</span>
                                      </div>
                                      <p><a href="/orders/<%= order._id %>">invoice</a></p>
                                </li>
                             <% }); %>
                         </ul>
                      </li>
                    <%}) %>
                </ul>
            </div>
             <br />
             <br />
             <br />
            
        <% }else{ %>
            <h3>No Order Made</h3>
        <%}%>
        </div>
    </main>
</body>
<%- include('../includes/end.ejs') %>
